* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	font-family: Helvetica, FreeSans, sans-serif;
}
p {
	margin-top: 1em;
}
h1, h2 {
	margin-top: 1em;
}
input {
	font-size: 100%;
}
#start {
	padding:  0;
	max-width: 760px;
	margin: auto;
	background-color: white;
	z-index: 20;
	font-size: 120%;
}
fieldset {
	padding: 0;
}
#start fieldset div.title {
	padding: 2%;
	border-bottom: 1px solid silver;
	margin-bottom: 1em;
}
#start fieldset div.title #new_game {
	float: right;
}
#start fieldset div.time {
	float: left;
	width: 29%;
	padding: 2% 2%
}
#start fieldset div.time input {
	font-size: 200%;
	padding: 7px;
	line-height: 1.2;
}
#start fieldset div.blinds {
	float: left;
	width: 29%;
	padding: 2% 2%
}
#start fieldset div.games {
	float: left;
	width: 29%;
	padding: 2% 2%
}
#start textarea {
	width: 82%;	
	font-size: 100%;
	line-height: 1.2;
	padding: 10px;
}
#game_list > li {
	cursor: pointer;
	list-style-type: none;
}
#game_list div.level:not(.current) {
	display: none;
}
#game_list div {
	display: inline;
}
#game {
	background-color: black;
	font-size: 100px;
	line-height: 1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	overflow: hidden;
}
#game .poker-game {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#game .poker-game .level .game, #game .poker-game .level .time {
	font-size: 100%;
}
#game .poker-game .level {
	position: relative;
	text-align: left;
	background-color: black;
	color: white;
}
#game .poker-game .level.break {
	cursor: pointer;
}
#game .poker-game .time {
	position: absolute;
	left: .125em;
	top: .125em;
}
#game .poker-game .blinds {
	font-size: 220%;
	height: 1em;
	margin: 0;
	text-align: right;
}
#game .poker-game .game {
	position: absolute;
	left: .125em;
	bottom: .25em;
	white-space: nowrap;
}
#game .poker-game .level.current {
	color: white;
}
#game .poker-game .level.previous.played {
	color: white;
}
#game .poker-game .level.played {
	color: #777;
}
#game .poker-game.tall .level.current {
	font-size: 145%;
}
#game .poker-game.tall .level.current .time {
	position: static;
	float: left;
	width: 33%;
	text-align: center;	
	font-size: 100%;
}
#game .poker-game.tall .level.current .game {
	position: static;
	width: 66%;
	float: left;
	text-align: center;
	font-size: 100%;
}
#game .poker-game.tall .level.current .blinds {
	text-align: center;
	clear: both;
}


#panels > div {
	position: absolute;
	left: 0px;
	right: 0px;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 10;
}
#panels > div.top {
	top: 0px;
	background-color: rgba(0,0,0,0.4);
}
#panels > div.bottom {
	bottom: 0px;
}
#panels > div > a {
	position: absolute;
	left: 5%;
	right: 5%;
	font-size: 1.25em;
	text-align: center;
	background-color: white;
	padding: 0.25em;
	opacity: 0.8;
	text-decoration: none;
	color: black;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	max-height: 50%;
}
#panels > div.top > a {
	bottom: 0px;
}
#panels > div.bottom > a {
	top: 0px;
}
#curtain {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000;
}
audio {
	display: none;
	position: absolute;
	z-index: -1;
}
#templates {
	display: none;
}