* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Helvetica, FreeSans, sans-serif;
	max-width: 760px;
	margin: 0 auto;
	background-color: white;
}
p {
	margin-top: 1em;
}
h1, h2 {
	margin-top: 1em;
	clear: both;
}
input {
	font-size: 100%;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#start {
	padding:  0;
	z-index: 20;
	font-size: 120%;
}
#start_form div.title {
	padding: 2%;
	border-bottom: 1px solid silver;
	margin-bottom: 1em;
}
#start_form div.title #new_game {
/* 	float: right; */
}
#start_form div.time {
	float: left;
	width: 29%;
	padding: 2% 2%
}
#start_form div.time input {
	font-size: 200%;
	padding: 7px;
	line-height: 1.2;
}
#start_form div.blinds {
	float: left;
	width: 29%;
	padding: 2% 2%
}
#start_form div.games {
	float: left;
	width: 29%;
	padding: 2% 2%
}
#start_form textarea {
	width: 82%;	
	font-size: 100%;
	line-height: 1.2;
	padding: 10px;
}
.game_list > li {
	cursor: pointer;
	list-style-type: none;
}
.game_list div.level {
	display: none;
}
.game_list div.level.current {
	display: inline;
}
.game_list div {
	display: inline;
}
#game {
	background-color: black;
	font-size: 100px;
	line-height: 1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	overflow: hidden;
}
#game .poker-game {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#game .poker-game .level .game, #game .poker-game .level .time {
	font-size: 100%;
}
#game .poker-game .level {
	position: relative;
	text-align: left;
	background-color: black;
	color: white;
}
#game .poker-game .level.break {
}
#game .poker-game .time {
	position: absolute;
	left: .125em;
	top: .125em;
}
#game .poker-game .blinds {
	font-size: 220%;
	height: 1em;
	margin: 0;
	text-align: right;
}
#game .poker-game .game {
	position: absolute;
	left: .125em;
	bottom: .25em;
	white-space: nowrap;
}
#game .poker-game .level.current {
	color: white;
}
#game .poker-game .level.previous.played {
	color: white;
}
#game .poker-game .level.played {
	color: #777;
}
#game .poker-game.tall .level.current {
	font-size: 145%;
}
#game .poker-game.tall .level.current .time {
	position: static;
	float: left;
	width: 33%;
	text-align: center;	
	font-size: 100%;
}
#game .poker-game.tall .level.current .game {
	position: static;
	width: 66%;
	float: left;
	text-align: center;
	font-size: 100%;
}
#game .poker-game.tall .level.current .blinds {
	text-align: center;
	clear: both;
}


#panels > div.curtain {
	position: absolute;
	left: 0px;
	right: 0px;
	width: 100%;
	z-index: 10;
}
#panels > div.top.curtain {
	top: 0px;
	background: black;
	opacity: 0.4;
	filter: alpha(opacity=40);
}
#panels > div.bottom.curtain {
	bottom: 0px;
	background: black;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
#panels > div.curtain > a {
	position: absolute;
	left: 3em;
	right: 3em;
	font-size: 1em;
	line-height: 1;
	text-align: center;
	background-color: white;
	padding: 0.5em;
	opacity: 0.8;
	text-decoration: none;
	color: black;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	max-height: 50%;
}
#panels > div.top.curtain > a {
	bottom: 0.15em;
}
#panels > div.bottom.curtain > a {
	top: 0.15em;
}
#hud {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	padding: 0.333em 0 0;
	text-align: center;
	background-color: #aaa;
/* 	background-color: rgba(150,150,150,0.85); */
	z-index: 100;
	line-height: 1em;
	border-bottom: 0.125em solid black;
}
#toolbar a.button {
	display: inline-block;
	vertical-align: bottom;
	width: 11em;
	height: 11em;
	font-size: 25%;
	position: relative;
}
a.button:active {
	outline: none;
}
a.button:hover {
	text-decoration: none;
}
.button {
	background-image: url(images/button-background.png);
	background-size: 200% 100%;
	-moz-background-size: 200% 100%;
	text-decoration: none;
}
.button:hover {
	background-position: 100% 0;
}

.button span {
	position: absolute;
	left: 1em;
	top: 1em;
	right: 1em;
	bottom: 1em;
	color: transparent;
	background-image: url(images/buttons-sprite.png);
	background-size: 200% 500%;
	-moz-background-size: 200% 500%;
}

.button.break span {
	background-position: 0 0;
}
.onbreak .button.break span {
	background-position: 100% 0;
}
.button.advance span {
	background-position: 0 -200%;
}
.button.goback span {
	background-position: 0 -300%;
}
.button.sync span {
	background-position: 0 -100%;
}
.button.bell span {
	background-position: 0 -400%;
}
.mute .button.bell span {
	background-position: 100% -400%;
}

#info {
	line-height: 1;
	font-size: 0.5em;
	float: right;
}
#info > div {
	padding: 0.33em;
	text-align: center;
	white-space: nowrap;
	float: left;
	border-top:  0.1em solid #666;
	border-left: 0.1em solid #666;
}
#hud .about {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 0.25em;
	margin-left: 1em;
}
#curtain {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000;
}
audio {
	display: none;
	position: absolute;
	z-index: -1;
}
#templates {
	display: none;
}